﻿<div class="form-error lg-12col">
    <div class="form-error-header-container">
        <label class="form-error-title">Oops something went wrong!</label>
        <div class="form-error-close-icon fa fa-close" ng-click="closeErrorForm()"></div>
    </div>
    <div class="row form-error-message">
        {{ message }}
    </div>
    <div class="row form-error-icon">
        <div class="fa fa-repeat"></div>
    </div>
    <div class="form-error-retry">Try again</div>
</div>
