﻿<div class="card-footer">
    <div class="publication-footer">
        <div class="need-it-section" ng-hide="publication.Given && (publication.UserDto.UserId !== currentUserId) && isRequested">
            <div ng-show="showNeedButton()" class="card-i-need-it" ng-click="expandNeedInput()">
                I need it!
            </div>
            <div class="pull-left" ng-show="!showNeedButton()">
                I need it!
            </div>
            <div class="needs-counter" ng-click="toggleComments()" ng-if="publication.Requesters.length > 0">
                {{ publication.Requesters.length }}
            </div>
        </div>
        <div class="given-message" ng-show="publication.Given && (publication.UserDto.UserId !== currentUserId) && !isRequested">Given!</div>
        <div class="publication-time">
            {{ publication.CreationDateTime | timeAgo }}
        </div>
        {{isRequested}}
    </div>
    <div class="clear"></div>
    <div class="comment-section" arrow="" ng-show="visibleNeeds">
        <textarea ng-model="comment" 
                  class="comment-input" 
                  placeholder="Comment why you need it?" 
                  ng-keyup="saveNeed($event.keyCode)"
                  maxlength="140"></textarea>
        <i class="close-comment fa fa-times" ng-click="toggleCommentSection()"></i>
    </div>
    
    <div class="comment-wrapper" ng-show="visibleNeeds">        
        <div class="comment-container">
            <div class="comment-card" ng-repeat="need in publication.Requesters">
                <div class="comment-card-body">
                    <header>{{ need.UserName }}</header>
                    <div>{{ need.Comment }}</div>
                    <footer>{{ need.CreationDateTime | timeAgo  }}</footer>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="comment-only-wrapper" comments-arrow="" ng-show="visibleComments">        
    <div class="comment-only-container">
        <div class="comment-loader" ng-show="showLoadingBar">
            <loading-bar show-loading-bar="showLoadingBar"></loading-bar>
        </div>
        <div class="comment-card" ng-repeat="need in publication.Requesters">
            <div class="comment-card-body">
                <header>{{ need.UserName }}</header>
                <div>{{ need.Comment }}</div>
                <footer>{{ need.CreationDateTime | timeAgo  }}</footer>
            </div>
            <div ng-show="publication.UserDto.UserId === currentUserId" class="comment-give-to">
                <input
                        type="checkbox"
                        name="one"
                        ng-click="givePublication(need)"
                        ng-disabled="publication.Given"
                        ng-checked="need.Given"
                        id="{{ need.NeedId }}" 
                />
                <label for="{{ need.NeedId }}"></label>
            </div>
        </div>
    </div>
</div>