﻿<div class="loading-overlay" ng-if="showLoadingBar">
    <div class="loading-bar">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
        <div class="bar-4"></div>
        <div class="bar-5"></div>
    </div>
</div>