﻿<div id="main-header" class="lg-12col md-12col sm-12col">
    <a class="give-you-logo" ui-sref="main.publications"></a>
  <div id="header-search-bar"
       class="lg-6col md-6col sm-6col">
    <div ng-if="false" class="search-input lg-2offset lg-5col md-2offset md-5col sm-2offset sm-5col">
      <input type="text" />
      <a class="fa fa-search search-icon" data-ng-click="clearSearch()"></a>
    </div>
    <div ng-if="false" class="select fa fa-angle-down  lg-2col md-2col sm-2col">
      <select class="">
        <option>All</option>
        <option>Electronics</option>
        <option>Others</option>
      </select>
    </div>
  </div>
    <div id="header-user-info"
         class="lg-6col md-6col sm-6col">
        <div id="user-options">
            <div class="user-fullname">{{vm.fullUserName}}</div>
            <label id="toggleOptions" ng-class="{'fa-chevron-up': vm.showOptions, 'fa-chevron-down': !vm.showOptions }" class="fa fa-sm"></label>
            <ul ng-show="vm.showOptions">
                <li ng-click="vm.logout()" class="fa fa-sign-out">Logout</li>
            </ul>
        </div>
        <div id="header-icons">
            <div id="notification-icon" class="dropdown-notifications">
                <label id="image-icon-color" for="dropdown-notifications" ng-click="vm.notificationsOptions()" class="fa fa-bell fa-md"></label>
                <label ng-hide="vm.unreadNotificationsQuantity === 0" class="notification-counter">{{ vm.unreadNotificationsQuantity }}</label>
                <ul ng-show="vm.showNotifications">
                    <li ng-repeat="notification in vm.notifications"
                        ng-click="vm.goToSelectedPublication(notification)"
                        ng-class="{'notification-read': notification.Read, 'notification-unread': !notification.Read}">
                        <div class="notification-height">
                            <div ng-show="notification.ImageName"
                                 ng-style="{'background-image':'url({{ notification.ImageURL }})'}"
                                 class="notification-image"></div>
                            <div ng-class="{'image-width': notification.ImageName, 'no-image-width': !notification.ImageName }"
                                 class="notification-body">
                                <div class="content-height notification-title">{{ notification.Title }}</div>
                                <div class="notification-elaped-date"> {{ notification.CreatedDateTime | timeAgo }} </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="false" id="message-icon">
                <label class="image-icon-color fa fa-envelope fa-md"></label>
            </div>
        </div>
    </div>
</div>