﻿<div class="lg-4col md-4col sm-4col" id="go-back-container">
    <i class="back-arrow fa fa-arrow-left fa-4x" ng-click="vm.goToFeed()"></i>
</div>

<div class="lg-4col lg-4offset md-4col md-4offset sm-4col sm-4offset" id="publication-details">
    <div class="card lg-12col md-12col sm-12col">
        <div class="publication-body">
            <img ng-if="vm.publication.ImageName" class="card-image" src="{{ vm.publication.ImageURL }}" />
            <div class="publication-description-section">
                <div class="shown-name">
                    {{ vm.publication.UserDto.FullName }}
                </div>
                <div>
                    {{ vm.publication.Description }}
                </div>
            </div>
        </div>
        <div class="publication-time publication-details-footer">
            {{ vm.publication.CreationDateTime | timeAgo }}
        </div>
    </div>
</div>

<div class="lg-4col lg-8offset md-4col md-8offset sm-4col sm-8offset" id="owner-card-container">
    <div class="vcard">
        <span class="owner-full-name">{{ vm.publication.UserDto.FullName }}</span>
        <a class="owner-email" href="mailto:{{ vm.publication.UserDto.EmailAddress }}">{{ vm.publication.UserDto.EmailAddress }}</a>
    </div>
</div>