﻿<div class="login-section">
    <form name="loginForm" novalidate ng-submit="vm.login()">
        <div class="login-form lg-4col lg-4offset md-4col md-4offset sm-12col">
            <div class="login-row"><h1 class="login-title">GiveYou</h1></div>
            <div class="login-row">
                <input type="text" id="login-username-field" ng-model="vm.username" ng-disabled="vm.disabledFields" required="required" name="username" placeholder="User name" class="login-field lg-12col md-12col sm-12col" />
                <a class="fa fa-user login-icon"></a>
            </div>
            <div class="login-row">
                <input type="password" id="login-password-field" ng-disabled="vm.disabledFields" placeholder="Password" required="required" ng-model="vm.password" name="password" class="login-field lg-12col md-12col sm-12col" />
                <a class="fa fa-key login-icon"></a>
            </div>
            <div class="login-row">
                <div id="login-register-section" class="lg-6col md-6col sm-6col">
                    <input ng-if="false" id="login-register" value="Register" type="submit" />
                </div>
                <div id="login-submit-section" class="lg-6col md-6col sm-6col">
                    <input id="login-submit" value="Login" type="submit" ng-disabled="loginForm.username.$invalid || loginForm.password.$invalid || vm.disabledFields" />
                </div>
            </div>
        </div>
        <div id="login-copyright">Copyright Jala Foundation 2016</div>
    </form>
</div>
