﻿
<div class="form-publication lg-12col " ng-hide="errorInCreatingPublication">
    <form name="publicationForm" novalidate>
        <div class="row">
            <div class="lg-7col md-7col sm-7col switch-field">
                <input id="offeredOption" type="radio" ng-model="publicationType" name="type" value="Offered" ng-checked="true">
                <label for="offeredOption">I'm giving</label>
                <input id="requestedOption" type="radio" ng-model="publicationType" name="type" value="Requested">
                <label for="requestedOption">I need</label>
            </div>
            <div class="image-field lg-5col md-5col sm-5col">
                <input type="file" id="file-chooser" file-model="image" ng-model="imagefile" accept="image/*" />
            
            <label for="file-chooser" 
                       class="fa fa-image fa-lg"
                   id="attachment-image" 
                   name="imagefile"  
                   ng-model="image.type" 
                   ng-pattern="/image(\/)(png|jpeg|jpg|gif)+$/"></label>

                <label id="image-name">{{ image.name }}</label>
            </div>
            <div class="message-error-height lg-12col md-12col sm-12col" ng-if="exceedMaxSizeFile()">
                <span class="messagevalidate">
                    <span>Please choose an image smaller that 3Mb.</span>
                </span>
            </div>

            <div class="message-error-height">
                <span class="messagevalidate" ng-show="publicationForm.imagefile.$invalid">
                    <span ng-show="publicationForm.imagefile.$error.pattern">Not supported File.</span>
                </span>
            </div>
        </div>

        <div class="row form-body">
            <textarea id="description"
                      name="description"
                      class="publication-description lg-12col"
                      placeholder="Description..."
                      ng-click="showForm();"
                      ng-class="{ 'expanded': visibleForm, 'collapsed': !visibleForm }"
                      ng-model="description" 
                      ng-minlength="10"
                      ng-maxlength="2000"  
                      required></textarea>
        </div>
        <div class="message-error-height" ng-show="visibleForm">
            <span class="messagevalidate" ng-show="publicationForm.description.$dirty && publicationForm.description.$invalid">
                <span ng-show="publicationForm.description.$error.required">Description is required.</span>
                <span ng-show="publicationForm.description.$error.maxlength">Description only up to 2000 characters.</span>
                <span ng-show="publicationForm.description.$error.minlength">Description must be at least 10 characters.</span>
            </span>
        </div>

        <div class="row" ng-show="visibleForm">
            <div class="lg-6col">
                <div class="publication-select">
                    <select id="category" ng-model="selectedCategory.id" name="category">
                        <option ng-repeat="category in categories"
                                ng-selected="{{ category.CategoryName === 'Others' }}"
                                value="{{ category.CategoryId }}">
                            {{ category.CategoryName }}
                        </option>
                    </select>
                </div>
            </div>           
            <div class="lg-6col">
                <button class="publication-button" 
                        type="submit" 
                        ng-disabled="publicationForm.description.$invalid || publicationForm.category.$invalid || publicationForm.file-chooser.$invalid || publicationForm.imagefile.$invalid || exceedMaxSizeFile()"
                        ng-click="savePublication()">
                    Post now!
                </button>
            </div>
        </div>

        <div ng-if="false" class="row">
            <a class="publication-link" href="">User Agreement</a>
        </div>
    </form>
    <loading-bar show-loading-bar="showLoadingBar"></loading-bar>
</div>
<div class="form-error lg-12col" ng-show="errorInCreatingPublication">
    <div class="form-error-header-container">
        <label class="form-error-title">Oops something went wrong!</label>
        <div ng-click="cleanForm()" class="form-error-close-icon fa fa-close"></div>
    </div>
    <div class="row form-error-message">
        {{ message }}
    </div>
    <div ng-click="savePublication()" class="row form-error-icon">
        <div class="fa fa-repeat"></div>
    </div>
    <div class="form-error-retry">Try again</div>
</div>
