.form-publication {
  background-color: white;
  padding: 8px;
}
.create-publication-card {
  background-color: #ffffff;
  box-shadow: 0 0 7px -1px rgba(44, 62, 80, 0.5);
  box-sizing: border-box;
  border-radius: 2px;
}
.publication-button {
  background-color: #2c3e50;
  height: 30px;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  border: none;
  width: calc(100% -  4px);
  width: -moz-calc(100% -  4px);
  width: -webkit-calc(100% -  4px);
  margin-left: 4px;
}
.publication-select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ecf0f1;
  background: #fff url("assets/img/row.gif") no-repeat 90%;
  background-position: right 16px 5px;
  width: calc(100% -  6px);
  width: -moz-calc(100% -  6px);
  width: -webkit-calc(100% -  6px);
}
.publication-select select {
  width: 100%;
  padding: 4px 8px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0.5;
}
.publication-select select::-ms-expand {
  display: none;
}
.publication-description {
  height: 30px;
  padding-left: 8px;
  box-shadow: none;
  border: 1px solid #ecf0f1;
  overflow: auto;
}
.publication-description:focus {
  border: 1px solid #2980b9;
}
.form-body {
  padding-bottom: 16px;
}
.form-publication .row h4 {
  padding-top: 0;
  padding-bottom: 0;
}
.form-element-title {
  margin-bottom: 4px;
  opacity: 0.5;
  font-size: 13px;
}
.row {
  width: 100%;
}
.publication-link {
  text-decoration: none;
}
.image-field {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 2px;
}
#image-name {
  color: #2c3e50;
  float: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% -  12px);
}
#attachment-image {
  color: black;
  opacity: 0.5;
  float: right;
  line-height: 1;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
  width: 8px;
  padding-left: 4px;
}
#file-chooser {
  display: none;
}
.expanded {
  height: 70px;
  resize: none;
}
.collapsed {
  height: 30px;
  resize: none;
}
.messagevalidate {
  color: #e74c3c;
}
.publication-button:disabled {
  background-color: #2c3e50;
  color: white;
  opacity: 0.5;
}
.form-error-header-container {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #e74c3c;
  box-sizing: border-box;
}
.form-error-title {
  padding: 0 16px;
  font-weight: bold;
}
.form-error-close-icon {
  float: right;
  opacity: 0.5;
  padding: 4px 8px 0 0;
  cursor: pointer;
}
.form-error-message {
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 11px;
}
.form-error-icon {
  padding: 10px 0 0 0;
  font-size: 40px;
  color: #3498db;
  text-align: center;
  cursor: pointer;
}
.form-error-retry {
  color: #3498db;
  text-align: center;
  padding: 0 0 10px 0;
  cursor: pointer;
}
.switch-field {
  overflow: hidden;
  padding-bottom: 8px;
}
.switch-field input {
  display: none;
}
.switch-field label {
  float: left;
  display: inline-block;
  width: 70px;
  line-height: 15px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 2px solid #ecf0f1;
}
.switch-field label:hover {
  cursor: pointer;
}
.switch-field input:checked + label {
  background-color: #2c3e50;
  opacity: 0.8;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  border: none;
}
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
