.form-error {
  background-color: white;
}
.form-error-header-container {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #e74c3c;
  box-sizing: border-box;
}
.form-error-title {
  padding: 0 16px;
  font-weight: bold;
}
.form-error-close-icon {
  float: right;
  opacity: 0.5;
  padding: 4px 8px 0 0;
}
.form-error-message {
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 11px;
}
.form-error-icon {
  padding: 10px 0 0 0;
  font-size: 40px;
  color: #3498db;
  text-align: center;
  cursor: pointer;
}
.form-error-retry {
  color: #3498db;
  text-align: center;
  padding: 0 0 10px 0;
  cursor: pointer;
}
