#feed {
  height: 100%;
  max-width: 1200px;
  background-color: #ecf0f1;
  position: relative;
  top: 164px;
}
#feed-publication-form {
  position: fixed;
  top: 0;
  z-index: 100;
  margin-top: 48px;
  padding: 8px;
}
#feed-form-wrapper {
  box-shadow: 0 0 7px 1px rgba(44, 62, 80, 0.5);
}
.card {
  font-family: 'Open Sans';
  background-color: #ffffff;
  margin: 12px auto;
  box-shadow: 0 0 7px -1px rgba(44, 62, 80, 0.5);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  position: relative;
}
.card-image {
  width: 100%;
}
.card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 0;
  width: 100%;
}
.description-no-visible {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description-visible {
  white-space: normal;
  opacity: 0.5;
  padding-bottom: 20px;
}
.hidden-name {
  display: none;
}
.shown-name {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  display: block;
}
.card-footer {
  position: relative;
}
.publication-footer {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 24px;
}
.publication-time {
  bottom: 0;
  text-align: right;
  float: right;
  opacity: 0.5;
}
.card-i-need-it {
  float: left;
  color: #3498db;
  cursor: pointer;
  padding-right: 10px;
}
.clear {
  clear: both;
}
.publication-owner {
  float: right;
  color: #2c3e50;
  text-shadow: #ecf0f1 0px 0px 4px, #ecf0f1 0px 0px 4px, #ecf0f1 0px 0px 4px, #ecf0f1 0px 0px 4px;
  margin-right: 4px;
}
.needs-counter {
  float: left;
  background-color: #3498db;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans';
  margin: 0px 0px;
  text-align: center;
  padding: 0 5px;
  font-size: 11px;
}
.needs-counter:hover {
  background-color: #3498db;
}
.need-list {
  position: absolute;
  text-overflow: ellipsis;
  left: 100px;
  background-color: rgba(236, 240, 241, 0.8);
  box-shadow: 0 0 7px -1px rgba(44, 62, 80, 0.5);
  border-radius: 2px;
}
.need-item {
  padding: 8px;
}
.comment-wrapper {
  padding-top: 4px;
}
.comment-section {
  background-color: #ecf0f1;
  width: 100%;
  position: absolute;
  left: 0;
}
.comment-input {
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  border-top: 7px solid #3498db;
  border-bottom: 7px solid #3498db;
  border-left: 15px solid #3498db;
  border-right: 20px solid #3498db;
  padding-top: 8px;
  font-size: 12px;
  padding-left: 12px;
  height: 50px;
  background-color: rgba(52, 152, 219, 0.25);
}
.comment-input::-webkit-input-placeholder {
  color: rgba(44, 62, 80, 0.5);
}
.comment-input::-moz-placeholder {
  color: rgba(44, 62, 80, 0.5);
}
.comment-input::-ms-input-placeholder {
  color: rgba(44, 62, 80, 0.5);
}
.card-footer .publication-footer .pull-left {
  margin-right: 8px;
}
.close-comment {
  color: rgba(255, 255, 255, 0.25);
  position: relative;
  top: -54px;
  left: calc(100% -  15px);
  cursor: pointer;
}
[arrow]:after {
  content: "";
  display: block;
  width: 10px;
  position: absolute;
  top: -5px;
  left: 30px;
  box-sizing: border-box;
  border-right: transparent 5px solid;
  border-left: transparent 5px solid;
  border-bottom: #3498db 5px solid;
}
.comment-container {
  background-color: #ecf0f1;
  margin-top: 60px;
  margin-left: 0;
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 12px;
  left: 0;
}
.comment-only-container {
  background-color: #ecf0f1;
}
.comment-card {
  border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
  margin-left: 20px;
  margin-right: 32px;
  font-size: 12px;
  position: relative;
}
.comment-card:last-child {
  border-bottom: none;
}
.comment-card footer {
  color: #2c3e50;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 12px;
}
.comment-card header {
  color: #2c3e50;
  font-weight: bold;
  padding-top: 4px;
}
.publication-body {
  padding: 8px 8px 4px 8px;
}
.comment-container {
  background-color: #ecf0f1;
  margin-top: 60px;
  margin-left: 0;
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 12px;
  left: 0;
}
.comment-only-wrapper {
  padding-top: 2px;
}
.comment-only-container {
  padding-top: 2px;
  background-color: #ecf0f1;
  border-top: 1px rgba(0, 0, 0, 0.25) solid;
  position: relative;
}
.comment-only-container:after,
.comment-only-container:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
.comment-only-container:after {
  border-width: 5px;
  border-bottom-color: #ecf0f1;
  top: 17px;
  left: 71px;
}
.comment-only-container:before {
  border-width: 7px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -15px;
  left: 69px;
}
#feed-filters-section {
  position: relative;
  width: 150px;
}
.comment-loader {
  position: relative;
  height: 48px;
  border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
  margin-left: 20px;
  margin-right: 32px;
}
.comment-card-body {
  width: 85%;
}
.comment-give-to {
  width: 20px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 48px;
  box-sizing: border-box;
  padding-top: 10px;
}
.comment-give-to label {
  position: relative;
  cursor: pointer;
  color: #2c3e50;
}
.comment-give-to label:before,
label:after {
  font-family: FontAwesome;
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
}
.comment-give-to label:before {
  content: '\f096';
}
.comment-give-to label:after {
  content: '\f046';
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  transition: all 0.35s;
}
.comment-give-to input[type="checkbox"] {
  display: none;
}
.comment-give-to input[type="checkbox"]:checked + label:after {
  max-width: 25px;
  opacity: 1;
}
.given-message {
  height: 24px;
  padding-left: 8px;
}
#feed.expanded-publication-form {
  top: 235px;
}
#feed-filters-section .loading-bar > div {
  background-color: transparent;
}
#feed .loading-overlay {
  height: 20%;
}
