[type="radio"] {
  display: none;
}
.filter-button {
  height: 28px;
  width: 140px;
  margin: 4px;
  line-height: 28px;
}
[type="radio"] + label {
  opacity: 0.5;
  cursor: pointer;
}
[type="radio"] + label + div {
  background-color: #2c3e50;
  width: 8px;
  height: 100%;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.5;
}
[type="radio"]:checked + label {
  color: #2c3e50;
  opacity: 1;
}
[type="radio"]:checked + label + div {
  background-color: #2c3e50;
  opacity: 1;
}
[type="radio"]:checked + label + div + label {
  background-color: #2c3e50;
  opacity: 1;
}
.publication-counter {
  background-color: #2c3e50;
  border-radius: 25px;
  color: white;
  line-height: 15px;
  cursor: pointer;
  font-family: 'Open Sans';
  text-align: center;
  padding: 0 5px;
  margin-top: 6px;
  font-size: 11px;
  opacity: 0.5;
  float: right;
}
[type="checkbox"].category-option {
  display: none;
}
[type="checkbox"].category-option + label {
  opacity: 0.5;
  cursor: pointer;
  background-color: #2c3e50;
  color: #ecf0f1;
  border-radius: 3px;
  padding: 2px 4px;
}
[type="checkbox"].category-option:checked + label {
  opacity: 1;
}
.line {
  border: 1px solid #2c3e50;
  opacity: 0.5;
  border-width: 1px 0 0 0;
  margin: 8px 0;
}
.category-filter {
  float: left;
  margin-right: 2px;
  margin-bottom: 4px;
}
