body {
  background-color: #ecf0f1;
}
.container,
.row {
  display: block;
  overflow: hidden;
}
[class*="col"] {
  float: left;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .md-1col {
    width: 8.33333333%;
  }
  .md-2col {
    width: 16.66666667%;
  }
  .md-3col {
    width: 25%;
  }
  .md-4col {
    width: 33.33333333%;
  }
  .md-5col {
    width: 41.66666667%;
  }
  .md-6col {
    width: 50%;
  }
  .md-7col {
    width: 58.33333333%;
  }
  .md-8col {
    width: 66.66666667%;
  }
  .md-9col {
    width: 75%;
  }
  .md-10col {
    width: 83.33333333%;
  }
  .md-11col {
    width: 91.66666667%;
  }
  .md-12col {
    width: 100%;
  }
  .md-0offset {
    margin-left: 0%;
  }
  .md-1offset {
    margin-left: 8.33333333%;
  }
  .md-2offset {
    margin-left: 16.66666667%;
  }
  .md-3offset {
    margin-left: 25%;
  }
  .md-4offset {
    margin-left: 33.33333333%;
  }
  .md-5offset {
    margin-left: 41.66666667%;
  }
  .md-6offset {
    margin-left: 50%;
  }
  .md-7offset {
    margin-left: 58.33333333%;
  }
  .md-8offset {
    margin-left: 66.66666667%;
  }
  .md-9offset {
    margin-left: 75%;
  }
  .md-10offset {
    margin-left: 83.33333333%;
  }
  .md-11offset {
    margin-left: 91.66666667%;
  }
  .md-12offset {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .lg-1col {
    width: 8.33333333%;
  }
  .lg-2col {
    width: 16.66666667%;
  }
  .lg-3col {
    width: 25%;
  }
  .lg-4col {
    width: 33.33333333%;
  }
  .lg-5col {
    width: 41.66666667%;
  }
  .lg-6col {
    width: 50%;
  }
  .lg-7col {
    width: 58.33333333%;
  }
  .lg-8col {
    width: 66.66666667%;
  }
  .lg-9col {
    width: 75%;
  }
  .lg-10col {
    width: 83.33333333%;
  }
  .lg-11col {
    width: 91.66666667%;
  }
  .lg-12col {
    width: 100%;
  }
  .lg-0offset {
    margin-left: 0%;
  }
  .lg-1offset {
    margin-left: 8.33333333%;
  }
  .lg-2offset {
    margin-left: 16.66666667%;
  }
  .lg-3offset {
    margin-left: 25%;
  }
  .lg-4offset {
    margin-left: 33.33333333%;
  }
  .lg-5offset {
    margin-left: 41.66666667%;
  }
  .lg-6offset {
    margin-left: 50%;
  }
  .lg-7offset {
    margin-left: 58.33333333%;
  }
  .lg-8offset {
    margin-left: 66.66666667%;
  }
  .lg-9offset {
    margin-left: 75%;
  }
  .lg-10offset {
    margin-left: 83.33333333%;
  }
  .lg-11offset {
    margin-left: 91.66666667%;
  }
  .lg-12offset {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .xl-1col {
    width: 8.33333333%;
  }
  .xl-2col {
    width: 16.66666667%;
  }
  .xl-3col {
    width: 25%;
  }
  .xl-4col {
    width: 33.33333333%;
  }
  .xl-5col {
    width: 41.66666667%;
  }
  .xl-6col {
    width: 50%;
  }
  .xl-7col {
    width: 58.33333333%;
  }
  .xl-8col {
    width: 66.66666667%;
  }
  .xl-9col {
    width: 75%;
  }
  .xl-10col {
    width: 83.33333333%;
  }
  .xl-11col {
    width: 91.66666667%;
  }
  .xl-12col {
    width: 100%;
  }
  .xl-0offset {
    margin-left: 0%;
  }
  .xl-1offset {
    margin-left: 8.33333333%;
  }
  .xl-2offset {
    margin-left: 16.66666667%;
  }
  .xl-3offset {
    margin-left: 25%;
  }
  .xl-4offset {
    margin-left: 33.33333333%;
  }
  .xl-5offset {
    margin-left: 41.66666667%;
  }
  .xl-6offset {
    margin-left: 50%;
  }
  .xl-7offset {
    margin-left: 58.33333333%;
  }
  .xl-8offset {
    margin-left: 66.66666667%;
  }
  .xl-9offset {
    margin-left: 75%;
  }
  .xl-10offset {
    margin-left: 83.33333333%;
  }
  .xl-11offset {
    margin-left: 91.66666667%;
  }
  .xl-12offset {
    margin-left: 100%;
  }
}
@media screen and (max-width: 768px) {
  .sm-1col {
    width: 8.33333333%;
  }
  .sm-2col {
    width: 16.66666667%;
  }
  .sm-3col {
    width: 25%;
  }
  .sm-4col {
    width: 33.33333333%;
  }
  .sm-5col {
    width: 41.66666667%;
  }
  .sm-6col {
    width: 50%;
  }
  .sm-7col {
    width: 58.33333333%;
  }
  .sm-8col {
    width: 66.66666667%;
  }
  .sm-9col {
    width: 75%;
  }
  .sm-10col {
    width: 83.33333333%;
  }
  .sm-11col {
    width: 91.66666667%;
  }
  .sm-12col {
    width: 100%;
  }
  .sm-0offset {
    margin-left: 0%;
  }
  .sm-1offset {
    margin-left: 8.33333333%;
  }
  .sm-2offset {
    margin-left: 16.66666667%;
  }
  .sm-3offset {
    margin-left: 25%;
  }
  .sm-4offset {
    margin-left: 33.33333333%;
  }
  .sm-5offset {
    margin-left: 41.66666667%;
  }
  .sm-6offset {
    margin-left: 50%;
  }
  .sm-7offset {
    margin-left: 58.33333333%;
  }
  .sm-8offset {
    margin-left: 66.66666667%;
  }
  .sm-9offset {
    margin-left: 75%;
  }
  .sm-10offset {
    margin-left: 83.33333333%;
  }
  .sm-11offset {
    margin-left: 91.66666667%;
  }
  .sm-12offset {
    margin-left: 100%;
  }
}
