@keyframes bar-stretch {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  top: 0;
  right: 0;
  z-index: 1;
}
[show-loading-bar] {
  background-color: inherit;
}
.loading-bar {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: calc(50% - 20px);
  right: calc(50% - 25px);
}
.loading-bar > div {
  background-color: #2980b9;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: bar-stretch 1.2s infinite ease-in-out;
}
.loading-bar .bar-2 {
  animation-delay: -1.1s;
}
.loading-bar .bar-3 {
  animation-delay: -1s;
}
.loading-bar .bar-4 {
  animation-delay: -0.9s;
}
.loading-bar .bar-5 {
  animation-delay: -0.8s;
}
