.login-section {
  background-color: #2c3e50;
  height: 100%;
}
.login-form {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.login-form input {
  font-size: 16px;
  box-sizing: border-box;
  border: none;
}
.login-form input[type=submit] {
  background-color: #2980b9;
  padding: 8px;
  width: 100%;
  border-radius: 3px;
}
.login-form input[type=submit]:disabled {
  background-color: rgba(41, 128, 185, 0.75);
}
.login-row {
  height: 36px;
  padding: 2px;
  position: relative;
}
.login-label {
  font-size: 40px;
  color: #ecf0f1;
}
.login-field {
  height: 100%;
  padding-left: 28px;
  opacity: 0.5;
  border-radius: 2px;
}
.login-field:focus {
  opacity: 1;
  border: solid 1px #3498db;
}
.login-title {
  color: #ecf0f1;
  height: 44px;
  text-align: left;
  padding-top: 0;
  font-size: 28px;
  font-weight: bold;
}
.login-icon {
  color: #2c3e50;
  position: absolute;
  top: 11px;
  left: 8px;
  z-index: 100;
  font-size: 18px;
  pointer-events: none;
  height: 14px;
  width: 100%;
}
#login-register-section {
  padding-right: 8px;
  height: 100%;
}
#login-register {
  background-color: #2c3e50;
  border: solid 1px #ecf0f1;
}
#login-submit-section {
  padding-left: 8px;
  height: 100%;
}
#login-copyright {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #ecf0f1;
}
