html,
body {
  height: 100%;
}
html,
body,
textarea,
h4 {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #2c3e50;
}
h1 {
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 28px;
  font-weight: bold;
}
h2 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 28px;
  font-weight: bold;
}
h3 {
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}
h4 {
  padding-top: 20px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}
a {
  color: #3498db;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
a {
  text-decoration: none;
}
select::-ms-expand {
  display: none;
}
input[type='submit'] {
  background-color: #2c3e50;
  color: #ecf0f1;
}
.container {
  min-height: 100%;
  background-color: #2c3e50;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -ms-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out;
  font-family: 'Open Sans';
}
