#notification-icon {
  width: 30px;
  float: left;
}
#notification-icon ul {
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  list-style-type: none;
  width: 300px;
  color: #ecf0f1;
  max-height: 225px;
  overflow: hidden;
  overflow-y: auto;
}
#notification-icon li {
  cursor: pointer;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
#notification-icon li:hover {
  background-color: #507192;
  box-shadow: 0 0 8px rgba(44, 62, 80, 0.8);
}
#notification-icon label#image-icon-color {
  position: absolute;
  right: 0;
  width: 28px;
  height: 48px;
  line-height: 48px;
}
#notification-icon label:hover::before {
  text-shadow: #ecf0f1 0px 0px 4px;
}
#message-icon {
  float: left;
}
#message-icon label#image-icon-color {
  width: 36px;
  height: 48px;
  line-height: 48px;
}
.notification-read {
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 1px solid #2c3e50;
}
.notification-read:hover {
  color: #ecf0f1;
}
.notification-unread {
  background-color: #2c3e50;
  color: #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}
.notification-image {
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
  float: left;
}
.notification-height {
  height: 65px;
}
.notification-body {
  float: left;
  padding-left: 5px;
  height: 65px;
}
.notification-title {
  font-size: 11px;
}
.notification-elaped-date {
  font-size: 10px;
  height: 15px;
  opacity: 0.5;
}
.no-image-width {
  width: calc(265px);
}
.image-width {
  width: calc(200px);
}
.content-height {
  height: calc(50px);
}
label.notification-counter {
  position: absolute;
  top: 6px;
  right: 0;
  background-color: #2980b9;
  border-radius: 25px;
  color: #ffffff;
  line-height: 4px;
  font-family: 'Open Sans';
  text-align: center;
  padding: 5px;
  font-size: 10px;
}
