#publication-details {
  min-height: 100%;
  max-width: 1200px;
  background-color: #ecf0f1;
  position: absolute;
  top: 40px;
}
#owner-card-container {
  padding: 8px 0 0 4px;
  min-height: 100%;
  position: fixed;
  top: 48px;
}
#go-back-container {
  padding: 8px 0 0 4px;
  height: 100%;
  position: fixed;
  top: 48px;
}
.owner-full-name {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding-left: 12px;
}
.owner-email {
  font-family: 'Open Sans';
  font-size: 14px;
  display: block;
  padding-left: 12px;
}
.back-arrow {
  cursor: pointer;
  padding-left: 24px;
}
.publication-details-footer {
  padding-right: 8px;
  padding-bottom: 4px;
}
