﻿@import "variables";

.form-publication {
  background-color: white;
  padding: 8px;
}

.create-publication-card {
    background-color: @bg-white;
    box-shadow: 0 0 7px -1px fade(@color-primary, 50%);
    box-sizing: border-box;
    border-radius: 2px;
}

.publication-button {
  background-color: @bg-primary;
  height: 30px;
  border-radius: 5px;
  color: white;
  opacity: @opacity-high;
  border: none;

  width: calc(~"100% - "@base-unit);
  width: -moz-calc(~"100% - "@base-unit);
  width: -webkit-calc(~"100% - "@base-unit);
  margin-left: @base-unit;
}

.publication-select {
  height: 30px;
  border-radius: 5px;
  border: @border-unit solid @bg-neutral;
  background: #fff url("assets/img/row.gif") no-repeat 90%;
  background-position: right 16px 5px;

  width: calc(~"100% - "@base-unit + @border-unit * 2);
  width: -moz-calc(~"100% - "@base-unit + @border-unit * 2);
  width: -webkit-calc(~"100% - "@base-unit + @border-unit * 2);
}

.publication-select select {
  width: 100%;
  padding: @base-unit (@base-unit * 2);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: @opacity-low;
}

.publication-select select::-ms-expand {
  display: none;
}
    
.publication-description {
  height: 30px;
  padding-left: @base-unit * 2;
  box-shadow: none;
  border: 1px solid @bg-neutral;
  overflow: auto;
}

.publication-description:focus {
  border: 1px solid @color-standout;
}

.form-body {
    padding-bottom: @base-unit * 4;
}

.form-publication .row h4 {
  padding-top: 0;
  padding-bottom: 0;
}

.form-element-title {
  margin-bottom: @base-unit;
  opacity: @opacity-low;
  font-size: 13px;
}

.row {
  width: 100%;
}
  
.publication-link {
  text-decoration: none;
}

.image-field {
    position: absolute;
    top: @base-unit * 6;
    right: @base-unit * 6;
    padding: 2px;
}
  
#image-name {
    color: @color-primary;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(~"100% - "@base-unit * 3);;
}
#attachment-image {
  color: black;
  opacity: @opacity-low;
  float: right;
  line-height: 1;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
  width: @base-unit * 2;
  padding-left: @base-unit;
}

#file-chooser {
    display: none;
}

.expanded {
  height: 70px;
  resize: none;
}

.collapsed {
  height: 30px;
  resize: none;
}

.messagevalidate {
  color: @color-important;
}

.publication-button:disabled {
  background-color: @bg-primary;
  color: white;
  opacity: @opacity-low;
}

.form-error-header-container {
    height: @form-error-header-height;
    line-height: @form-error-header-height;
    color: @bg-white;
    background-color: @bg-important;
    box-sizing: border-box;
}

.form-error-title {
    padding: 0 @base-unit * 4;
    font-weight: bold;
}

.form-error-close-icon {
    float: right;
    opacity: @opacity-low;
    padding: @base-unit @base-unit * 2 0 0;
    cursor: pointer;
}

.form-error-message {
    padding: 0 @base-unit * 4;
    box-sizing: border-box;
    font-size: 11px;
}

.form-error-icon {
    padding: 10px 0 0 0;
    font-size: @base-unit * 10;
    color: @color-soft-standout;
    text-align: center;
    cursor: pointer;
}

.form-error-retry {
    color: @color-soft-standout;
    text-align: center;
    padding: 0 0 10px 0;
    cursor: pointer;
}

.switch-field {
    overflow: hidden;
    padding-bottom: 8px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
  display: inline-block;
  width: 70px;
  line-height: 15px;
  background-color: @color-white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 2px solid @color-neutral;

}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: @color-primary;
  opacity: @opacity-high;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: @color-white;
  border: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

    