﻿@import "variables";

.form-error {
    background-color: white;
}

.form-error-header-container {
    height: @form-error-header-height;
    line-height: @form-error-header-height;
    color: @bg-white;
    background-color: @bg-important;
    box-sizing: border-box;
}

.form-error-title {
    padding: 0 @base-unit * 4;
    font-weight: bold;
}

.form-error-close-icon {
    float: right;
    opacity: @opacity-low;
    padding: @base-unit @base-unit * 2 0 0;
}

.form-error-message {
    padding: 0 @base-unit * 4;
    box-sizing: border-box;
    font-size: 11px;
}

.form-error-icon {
    padding: 10px 0 0 0;
    font-size: @base-unit * 10;
    color: @color-soft-standout;
    text-align: center;
    cursor: pointer;
}

.form-error-retry {
    color: @color-soft-standout;
    text-align: center;
    padding: 0 0 10px 0;
    cursor: pointer;
}