@import "variables";

#feed {
    height: 100%;
    max-width: 1200px;
    background-color: @color-neutral;
    position: relative;
    top: @base-unit * 41;
}

#feed-publication-form {
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top: @base-unit * 12;
    padding: 8px;
}

#feed-form-wrapper {
    box-shadow: 0 0 7px 1px rgba(44, 62, 80, 0.5);
}

.card {
    font-family: 'Open Sans';
    background-color: @bg-white;
    margin: 12px auto;
    box-shadow: 0 0 7px -1px fade(@color-primary, 50%);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    position: relative;
}

.card-image {
    width: 100%;
}

.card-description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 0;
    width: 100%;
    cursor: pointer;
}

.description-no-visible {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-visible {
    white-space: normal;
    opacity: @opacity-low;
    padding-bottom: 20px;
}

.shown-name {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.publication-event-type {
    font-style: italic;
    font-size: 11px;
}

.card-footer {
    position: relative;
}

.publication-footer {
    padding-left: @base-unit * 2;
    padding-right: @base-unit * 2;
    padding-bottom: @base-unit * 6; 
}

.need-it-section {
    float: left;
}

.publication-time {
    bottom: 0;
    text-align: right;
    float: right;
    opacity: @opacity-low;
}

.card-i-need-it {
    float: left;
    color: @color-soft-standout;
	cursor: pointer;
    padding-right: @border-unit * 10;
}

.clear {
    clear: both;
}

.publication-owner {
    float: right;
    color: @color-primary;
    text-shadow: @text-shadow, @text-shadow, @text-shadow, @text-shadow;
    margin-right: @base-unit;
}

.needs-counter {
    float: left;
    background-color: @bg-soft-standout;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans';
    margin:0px 0px;
    text-align: center;
    padding: 0 5px;
    font-size: 11px;
}

.needs-counter:hover {
    background-color: @color-soft-standout;
}

.need-list {
    position: absolute;
    text-overflow: ellipsis;
    left: 100px;
    background-color: fade(@color-neutral, 80%); 
    box-shadow: 0 0 7px -1px rgba(44, 62, 80, 0.5);
    border-radius: 2px;
}

.need-item {
    padding: 8px;
}

.comment-wrapper {
    padding-top: @base-unit;
}

.comment-section {
    background-color: @color-neutral;
    width: 100%;
    position: absolute;
    left: 0;
}

.comment-input {
    box-sizing: border-box;
    resize: none;
    overflow:hidden;
    border-top: @border-unit*7 solid @color-soft-standout;
    border-bottom: @border-unit*7 solid @color-soft-standout;
    border-left: @border-unit*15 solid @color-soft-standout;
    border-right: @border-unit*20 solid @color-soft-standout;
    padding-top: @base-unit*2;
    font-size: 12px;
    padding-left: @base-unit*3;
    height: 50px;
    background-color: fade(@color-soft-standout, 25%);
}

.comment-input::-webkit-input-placeholder{
    color: fade(@color-primary, 50%);
}

.comment-input::-moz-placeholder{
    color: fade(@color-primary, 50%);
}

.comment-input::-ms-input-placeholder{
    color: fade(@color-primary, 50%);
}

.card-footer .publication-footer .pull-left {
  margin-right: @base-unit * 2;    
}

.close-comment {
    color: fade(@color-white, 25%);
    position: relative;
    top: -54px;
    left: calc(~"100% - "15px);
    cursor: pointer;
}

[arrow]:after {
    content: "";
    display: block;
    width: @border-unit*10;
    position: absolute;
    top: @border-unit*-5;
    left: 30px; 
    box-sizing: border-box;
    border-right: transparent @border-unit*5 solid;
    border-left: transparent @border-unit*5 solid;
    border-bottom:  @color-soft-standout @border-unit*5 solid;
}

.comment-container {
    background-color: @color-neutral;
    margin-top: @base-unit*15;
    margin-left: 0;
    width: 100%;
    position: relative;
    padding: 0;
    padding-bottom: @base-unit*3;
    left: 0;
}

.comment-only-container {
    background-color: @color-neutral;
}

.comment-card {   
    border-bottom: fade(@color-black, 25%) 1px solid;
    margin-left: @base-unit*5;
    margin-right: @base-unit*8;
    font-size: 12px;
    position: relative;
}

.comment-card:last-child {
    border-bottom: none;
}

.comment-card footer{
    color: @color-primary;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: @base-unit*3;
}

.comment-card header{
    color: @color-primary;
    font-weight: bold;
    padding-top: @base-unit;
}

.publication-body {
    padding: @base-unit*2 @base-unit*2 @base-unit @base-unit*2;
}

.comment-container {
  background-color: @color-neutral;
  margin-top: @base-unit * 15;
  margin-left: 0;
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: @base-unit * 3;
  left: 0;
}
.comment-only-wrapper {
    padding-top: @border-unit * 2;
}
.comment-only-container {
  padding-top: @border-unit * 2;
  background-color: @color-neutral;
  border-top: 1px fade(@color-black, 25%) solid;
  position: relative;
}

.comment-only-container:after, .comment-only-container:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}

.comment-only-container:after {
	border-width: @border-unit * 5;
    border-bottom-color: @color-neutral;
    top: @border-unit * 17;
    left: @border-unit * 71;
}

.comment-only-container:before {
	border-width: @border-unit * 7;
    border-bottom-color: fade(@color-black, 25%);
    top: -@border-unit * 15;
    left: @border-unit * 69;
}

#feed-filters-section {
    position:relative;
    width: 150px;
}

.comment-loader {
    position: relative;
    height: @border-unit * 48;
    border-bottom: fade(@color-black, 25%) @border-unit solid;
    margin-left: @base-unit * 5;
    margin-right: @base-unit * 8;
}

.comment-card-body {
    width: 85%;
}

.comment-give-to {
    width: 20px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 48px;
    box-sizing: border-box;
    padding-top: 10px;
}

.comment-give-to label {
	position: relative;
	cursor: pointer;
    color: @color-primary;
}
.comment-give-to label:before, label:after {
	font-family: FontAwesome;
	font-size: 21px;
	position: absolute;
    top: 0;
    left: 0;
}
.comment-give-to label:before {
	content: '\f096';
}
.comment-give-to label:after {
	content: '\f046';
	max-width: 0;
	overflow: hidden;
	opacity: 0.5;
	transition: all 0.35s;
}

.comment-give-to input[type="checkbox"] {
	display: none;
}

.comment-give-to input[type="checkbox"]:checked + label:after {
	max-width: 25px;
	opacity: 1;
}

.given-message {
    height: 24px;
    float: left;
}

#feed.expanded-publication-form {
    top : 235px;
}


#feed-filters-section .loading-bar > div {
    background-color: transparent;
}

#feed .loading-overlay {
    height : 20%;
}