﻿@import "variables";

[type="radio"] {
    display: none;
}

.filter-button {
    height: @base-unit * 7;
    width: 140px;
    margin: @base-unit;
    line-height: @base-unit * 7;
}

[type="radio"] + label {
    opacity: @opacity-low;
    cursor: pointer;
}

[type="radio"] + label + div {
    background-color: @bg-primary;
    width: @base-unit * 2;
    height: 100%;
    float: left;
    margin: 0 @base-unit * 2 0 0;
    opacity: @opacity-low;
}

[type="radio"]:checked + label {
    color: @bg-primary;
    opacity: @opacity-none;
}

[type="radio"]:checked + label + div {
    background-color: @bg-primary;
    opacity: @opacity-none;
}

[type="radio"]:checked + label + div + label {
    background-color: @bg-primary;
    opacity: @opacity-none;
}

.publication-counter {
    background-color: @color-primary;
    border-radius: 25px;
    color: white;
    line-height: 15px;
    cursor: pointer;
    font-family: 'Open Sans';
    text-align: center;
    padding: 0 5px;
    margin-top: 6px;
    font-size: 11px;
    opacity: @opacity-low;
    float: right;
}

[type="checkbox"].category-option {
    display: none;
}

[type="checkbox"].category-option + label {
    opacity: @opacity-low;
    cursor: pointer;

    background-color: @bg-primary;
    color: @bg-neutral;
    border-radius: 3px;
    padding: 2px @base-unit;
}

[type="checkbox"].category-option:checked + label {
    opacity: @opacity-none;
}

.line {
    border:1px solid @bg-primary;
    opacity: @opacity-low;
    border-width: 1px 0 0 0;
    margin: @base-unit * 2  0;
}

.category-filter {
    float: left;
    margin-right: 2px;
    margin-bottom: 4px;
}