@import "variables";

.generate-columns(@screen-size, @i: 1) when (@i =< 12) {
  .@{screen-size}-@{i}col {
    width: (@column-unit * @i);
  }
  .generate-columns( @screen-size, (@i + 1));
}

.generate-offset(@screen-size, @i: 0) when (@i =< 12) {
  .@{screen-size}-@{i}offset {
    margin-left: (@column-unit * @i);
  }
  .generate-offset(@screen-size, (@i + 1));
}

body {
    background-color: @color-neutral;
}

.container, .row {
    display: block;
    overflow: hidden;
}
 
[class*="col"] {
    float: left;
    box-sizing: border-box;
}

@media screen and (min-width: @small-device) {
    .generate-columns(md);
    .generate-offset(md);
}

@media screen and (min-width: @medium-device) {
    .generate-columns(lg);
    .generate-offset(lg);
}

@media screen and (min-width: @large-device) {
    .generate-columns(xl);
    .generate-offset(xl);
}

@media screen and (max-width: @small-device) {
    .generate-columns(sm);
    .generate-offset(sm);
}
