﻿@import "variables";

@keyframes bar-stretch {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
    }  
    20% { 
        transform: scaleY(1.0);
    }
}
.loading-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    top: 0;
    right: 0;
    z-index: 1;
}

.generate-bars(@i: 2) when (@i =< 5) {
    .loading-bar .bar-@{i} {
        animation-delay: -1.3s + (@i * 0.1);
    }
    .generate-bars(@i + 1);
}

[show-loading-bar]{
    background-color: inherit;
}

.loading-bar {
    margin: 0 auto;
    width: 50px;
    height: 40px;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: calc(~'50% - 20px');
    right: calc(~'50% - 25px');
}

.loading-bar > div {
    background-color: @bg-standout;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: bar-stretch 1.2s infinite ease-in-out;
}

.generate-bars();