﻿@import "variables";

.login-section {
    background-color: @color-primary;
    height: 100%;
}

.login-form {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.login-form input {
    font-size: 16px;
    box-sizing: border-box;
    border: none;
}

.login-form input[type=submit] {
    background-color: @color-standout;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
}

.login-form input[type=submit]:disabled {
    background-color: fade(@color-standout, @opacity-medium * 100);
}

.login-row {
    height: @base-unit * 9;
    padding: 2px;
    position: relative;
}

.login-label {
    font-size: @base-unit * 10;
    color: @color-neutral;
}

.login-field {
    height: 100%;
    padding-left: 28px;
    opacity: @opacity-low;
    border-radius: @border-unit * 2;
}

.login-field:focus {
    opacity: 1;
    border: solid @border-unit @color-soft-standout;
}

.login-title {
    color: @color-neutral;
    height: @base-unit * 11;
    text-align: left;
    padding-top: 0;
    font-size: 28px;
    font-weight: bold;
}

.login-icon {
    color: @color-primary;
    position: absolute;
    top: 11px;
    left: @base-unit * 2;
    z-index: 100;
    font-size: 18px;
    pointer-events: none;
    height: 14px;
    width: 100%;
}

#login-register-section {
    padding-right: @base-unit * 2;
    height: 100%;
}

#login-register {
    background-color: @bg-primary;
    border: solid 1px @color-neutral;
}

#login-submit-section {
    padding-left: @base-unit * 2;
    height: 100%;
}

#login-copyright {
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: @color-neutral;
}