@import "variables";

@speed-curve: width 3s ease-in-out;

html, body {
    height: 100%;
}

html, body, textarea, h4 {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 13px;
    color: @color-primary;
}

h1 {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

h4 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: @bg-soft-standout;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

a {
  text-decoration: none;
}

select::-ms-expand {
    display: none;
}

input[type='submit'] {
  background-color: @color-primary;
  color: @color-neutral;
}

.container {
  min-height: 100%;
  background-color: @bg-primary;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: @color-neutral;
    -webkit-transition: @speed-curve;
    -moz-transition: @speed-curve;
    -ms-transition: @speed-curve;
    -o-transition: @speed-curve;
    transition: @speed-curve;
    font-family: 'Open Sans';
}