﻿@import "variables";

@user-options-width: 200px;
@logo-animation: all 0.3s linear;

#main-header {
    height: @header-height;
    background-color: @bg-primary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

#header-search-bar {
    height: 28px;
    margin-top: 10px;
}

#header-search-bar input {
    height: 100%;
}

#header-search-bar select {
    background: @bg-soft-standout;
    border-radius: 0 3px 3px 0;
    color: white;
    text-shadow:0 1px 0 rgba(0,0,0,1);
    border: 0;
    height: 100%;
}

#header-search-bar .select {
    border: 1px solid #ccc;
    overflow: hidden; 
    position: relative;
    display: block;
    height: 100%;
    border: 0;
}

#header-search-bar select{       
    padding: 5px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#header-search-bar .select:before {
    color: #fff;
    position: absolute; 
    right: 8px; 
    top: 4px;
    background: transparent;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;   
    height: 100%;
    font-size: 1.5em;
}

#header-search-bar option {
    color: @bg-neutral;
    border: 0;
}

#header-search-bar option:not(:checked) { 
    background-color: @bg-neutral;
    color: black;
}

#header-search-bar option:hover {
    background-color:@bg-soft-standout;
}

#header-search-bar input[type="text"] {
    border: 0;
    border-radius: 3px 0 0 3px;
    padding-bottom: 2px;
    padding-left: 20px;
    box-sizing: border-box;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

.search-input {
    height: 100%;
}

.search-input input {
    width: 100%;
    height: 100%;
}

.search-icon {
    background-position: center;
    background-repeat: no-repeat;
    border: medium none;
    background-color: transparent;
    color: @color-primary;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 5px;
    z-index: 100;
}

.clear-icon {
    background-position: center;
    background-repeat: no-repeat;
    border: medium none;
    background-color: transparent;
    color: @color-soft-standout;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 5px;
    z-index: 100;
}

#image-icon-color {
    color: @bg-white;
    cursor: pointer;
}

#user-name {
    color: @bg-white;
}

#header-user-info {
    text-align: center;
}

.fa-md {
    font-size: 1.1em;
}

.fa-sm {
    font-size: 0.9em;
}

#user-options {
    color: @color-white;
    width: auto;
    float: right;
    height: @header-height;
    position: relative;
    padding-left: @base-unit;
}

#user-options ul{
    display: block;
    top: @header-height;
    right: 0;
    background-color: @bg-primary;
    list-style-type: none;
    width: 100%;
}

#user-options li {
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

#user-options li:hover {
    background-color: lighten(@bg-primary, 20%);
}

#user-options label#toggleOptions {
    padding-right: 10px;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    height: @header-height;
    line-height: @header-height;
}

#user-options label:hover::before {
    text-shadow: #ecf0f1 0px 0px 4px;
}

#header-icons {
    float: right;
    position: relative;
    padding-right: @base-unit *3;
}

.user-fullname {
    line-height: @header-height;
    padding-left: 8px;
    padding-right: 30px;
}

.give-you-logo {
    left: 0;
    top: -18px;
    height: 72px;
    width: 184px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image: url(assets/img/logo.png);
	-webkit-transition: @logo-animation;
	-o-transition: @logo-animation;
	transition: @logo-animation;
}

.give-you-logo:hover {
    -webkit-filter: drop-shadow(0px 0px 8px fade(@color-soft-standout, @opacity-high * 100));
}