﻿@import "variables";

@notification-width: @base-unit * 75;
@notification-height: 75px;
@image-size: 65px;

#notification-icon {
  width: 30px;
  float: left;
}

#notification-icon ul{
  display: block;
  position: absolute;
  top: @header-height;
  right: 0;
  list-style-type: none;
  width: @notification-width;
  color: @color-neutral;
  max-height: 225px;
  overflow: hidden;
  overflow-y: auto;
}

#notification-icon li {
  cursor: pointer;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#notification-icon li:hover {
  background-color: lighten(@bg-primary, 20%);
  box-shadow: 0 0 @base-unit * 2 fade(@color-primary, 80%);
}

#notification-icon label#image-icon-color {
  position: absolute;
  right: 0;
  width: @base-unit * 7;
  height: @header-height;
  line-height: @header-height;
}

#notification-icon label:hover::before {
  text-shadow: #ecf0f1 0px 0px @base-unit;
}

#message-icon {
  float: left;
}

#message-icon label#image-icon-color {
  width: @base-unit * 9;
  height: @header-height;
  line-height: @header-height;
}

.notification-read {
  background-color: @bg-neutral;
  color: @color-primary;
  border: 1px solid @color-primary;
}

.notification-read:hover {
  color: @color-neutral;
}

.notification-unread {
  background-color: @bg-primary;
  color: @color-neutral;
  border-bottom: 1px solid @color-neutral;
}

.notification-image {
  float: left;
  height: @image-size;
  width: @image-size;
  background-size: cover;
  background-position: center;
  float: left;
}

.notification-height {
  height: @image-size;
}

.notification-body {
  float: left;
  padding-left: 5px;
  height: 65px;
}

.notification-title {
  font-size: 11px;
}

.notification-elaped-date {
  font-size: 10px;
  height: 15px;
  opacity: @opacity-low;
}

.no-image-width {
  width: calc(@notification-width - 35px);
}

.image-width {
  width: calc(@notification-width - @image-size - 35px);
}

.content-height {
  height: calc(@notification-height - 25px);
}

label.notification-counter {
    position: absolute;
    top: 6px;
    right: 0;
    background-color: @color-standout;
    border-radius: 25px;
    color: @color-white;
    line-height: @base-unit;
    font-family: 'Open Sans';
    text-align: center;
    padding: 5px;
    font-size: 10px;
}