﻿@import "variables";

#publication-details {
    max-width: 1200px;
    background-color: @color-neutral;
    position: absolute;
    top: @base-unit * 10;
}

#owner-card-container {
    padding: @base-unit * 2 0 0 @base-unit;
    min-height: 100%;
    position: fixed;
    top: @base-unit * 12;
}

#go-back-container {
    padding: @base-unit * 2 0 0 @base-unit;
    height: 100%;
    position: fixed;
    top: @base-unit * 12;
}

.owner-full-name {
    font-family: 'Open Sans';
    font-size: @base-unit * 5;
    font-weight: bold;
    display: block;
    padding-left: @base-unit * 3;
}
.owner-email {
    font-family: 'Open Sans';
    font-size: @border-unit * 14;
    display: block;
    padding-left: @base-unit * 3;
}

.back-arrow {
    cursor: pointer;
    padding-left: @base-unit * 6;
}

.publication-details-footer {
    padding-right: @base-unit * 2;
    padding-bottom: @base-unit; 
}
