@color-primary: #2c3e50;
@color-important: #e74c3c;
@color-neutral: #ecf0f1;
@color-soft-standout: #3498db;
@color-standout: #2980b9;
@color-white: #ffffff;
@color-black: #000000;

@bg-primary: #2c3e50;
@bg-important: #e74c3c;
@bg-neutral: #ecf0f1;
@bg-soft-standout: #3498db;
@bg-standout: #2980b9;
@bg-white: #ffffff;

@column-unit: 100%/12;

@large-device: 1200px;
@medium-device: 992px;
@small-device: 768px;
@x-small-device: 420px;

@opacity-none: 1;
@opacity-high: 0.8;
@opacity-medium: 0.75;
@opacity-low: 0.5;

@base-unit : 4px;

@border-unit : 1px;

@text-shadow : @color-neutral 0px 0px @base-unit;

@form-error-header-height: 50px;

@header-height: 48px;