﻿<div id="feed-publication-form"  class="create-publication-card lg-4col lg-4offset md-4col md-4offset sm-4col sm-4offset">
    <create-publication expanded-publication-form="vm.visibleForm" message="Message goes here" save="vm.savePublication(description, category, publicationType, image)" all-categories="vm.allCategories"></create-publication>
</div>
            
<div class="lg-4col lg-4offset md-4col md-4offset sm-4col sm-4offset" 
     id="feed"
     ng-class="{ 'expanded-publication-form' : vm.visibleForm }">

    <loading-bar show-loading-bar="vm.showLoadingBarInSection"></loading-bar>
    <div ng-repeat="publication in vm.publications | filter:vm.filterByCategory" class="card lg-12col md-12col sm-12col">
        <div class="publication-body">
            <img ng-if="publication.ImageURL" class="card-image" src="{{ publication.ImageURL }}" />
        <description publication="publication" has-image="publication.ImageURL ? true : false" username="{{ publication.UserDto.FullName }}" description="{{ publication.Description }}">
        </description>
            </div>
        <need my-needs="vm.myNeededPublications" publication="publication" current-user-id="vm.getCurrentUserId()"></need>
    </div>
</div>
<div class="lg-4col lg-8offset md-4col md-8offset sm-4col sm-8offset" id="filter-container">
    <div id="feed-filters-section">
        <loading-bar show-loading-bar="vm.showLoadingBarInSection"></loading-bar>
        <div class="filter-button">
            <input name="radio" id="all-posts" type="radio" ng-click="vm.getAllPublications()" checked />
            <label for="all-posts">All posts</label>
            <div class="filter-background"></div>
        </div>
        <div class="filter-button">
            <input name="radio" ng-click="vm.getMyPublications()" id="my-posts" type="radio" g-true-value="vm.myPostsIsActive"/>
            <label for="my-posts">My posts</label>
            <div class="filter-background"></div>
            <label class="publication-counter">{{vm.myPublications.length}}</label>
        </div>
        <div class="filter-button">
            <input name="radio" id="need-posts" type="radio" ng-click="vm.getMyNeededPublications()" ng-true-value="vm.myINeedIsActive" />
            <label for="need-posts">My "I need it"</label>
            <div class="filter-background"></div>
            <label class="publication-counter">{{vm.myNeededPublications.length}}</label>
        </div>
    </div>
    <div class="line"></div>
    <div>
        <div ng-repeat="category in vm.allCategories" ng-init="vm.verifyCategory(category)" ng-click="vm.verifyCategory(category)" class="category-filter">
            <input class="category-option" name="tags" id="{{ category.CategoryId }}" ng-model="category.isChecked" type="checkbox" />
            <label for="{{ category.CategoryId }}" ng-click="vm.storageCategory(category)">{{ category.CategoryName }}</label>
        </div>
    </div>
</div>