﻿<div class="publication-description-section">
    <div>
        <span class="shown-name">{{ username }}</span>
        <span class="publication-event-type"> {{publicationEventype}}</span>
    </div>
    <div class="card-description"
         ng-click="toggle()"
         ng-class="{ 'description-no-visible' : collapsed, 'description-visible': !collapsed }">
        {{ description }}
    </div>
</div>
